In [1]:
import pandas as pd

In [2]:
# read in data
TNT_postals = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
TNT_postals

[            0                 1  \
 0    Postcode           Borough
 1         M1A      Not assigned
 2         M2A      Not assigned
 3         M3A        North York
 4         M4A        North York
 5         M5A  Downtown Toronto
 6         M5A  Downtown Toronto
 7         M6A        North York
 8         M6A        North York
 9         M7A      Queen's Park
 10        M8A      Not assigned
 11        M9A         Etobicoke
 12        M1B       Scarborough
 13        M1B       Scarborough
 14        M2B      Not assigned
 15        M3B        North York
 16        M4B         East York
 17        M4B         East York
 18        M5B  Downtown Toronto
 19        M5B  Downtown Toronto
 20        M6B        North York
 21        M7B      Not assigned
 22        M8B      Not assigned
 23        M9B         Etobicoke
 24        M9B         Etobicoke
 25        M9B         Etobicoke
 26        M9B         Etobicoke
 27        M9B         Etobicoke
 28        M1C       Scarborough
 29        M1C       Scarborough
 ..        ...               ...
 260       M9X      Not assigned
 261       M1Y      Not assigned
 262       M2Y      Not assigned
 263       M3Y      Not assigned
 264       M4Y  Downtown Toronto
 265       M5Y      Not assigned
 266       M6Y      Not assigned
 267       M7Y      East Toronto
 268       M8Y         Etobicoke
 269       M8Y         Etobicoke
 270       M8Y         Etobicoke
 271       M8Y         Etobicoke
 272       M8Y         Etobicoke
 273       M8Y         Etobicoke
 274       M8Y         Etobicoke
 275       M8Y         Etobicoke
 276       M9Y      Not assigned
 277       M1Z      Not assigned
 278       M2Z      Not assigned
 279       M3Z      Not assigned
 280       M4Z      Not assigned
 281       M5Z      Not assigned
 282       M6Z      Not assigned
 283       M7Z      Not assigned
 284       M8Z         Etobicoke
 285       M8Z         Etobicoke
 286       M8Z         Etobicoke
 287       M8Z         Etobicoke
 288       M8Z         Etobicoke
 289       M9Z      Not assigned

                                                      2
 0                                        Neighbourhood
 1                                         Not assigned
 2                                         Not assigned
 3                                            Parkwoods
 4                                     Victoria Village
 5                                         Harbourfront
 6                                          Regent Park
 7                                     Lawrence Heights
 8                                       Lawrence Manor
 9                                         Not assigned
 10                                        Not assigned
 11                                    Islington Avenue
 12                                               Rouge
 13                                             Malvern
 14                                        Not assigned
 15                                     Don Mills North
 16                                    Woodbine Gardens
 17                                       Parkview Hill
 18                                             Ryerson
 19                                     Garden District
 20                                           Glencairn
 21                                        Not assigned
 22                                        Not assigned
 23                                          Cloverdale
 24                                           Islington
 25                                        Martin Grove
 26                                    Princess Gardens
 27                                     West Deane Park
 28                                      Highland Creek
 29                                          Rouge Hill
 ..                                                 ...
 260                                       Not assigned
 261                                       Not assigned
 262                                       Not assigned
 263                                       Not assigned
 264                               Church and Wellesley
 265                                       Not assigned
 266                                       Not assigned
 267  Business Reply Mail Processing Centre 969 Eastern
 268                                         Humber Bay
 269                                   King's Mill Park
 270                           Kingsway Park South East
 271                                          Mimico NE
 272                                     Old Mill South
 273                                 The Queensway East
 274                              Royal York South East
 275                                           Sunnylea
 276                                       Not assigned
 277                                       Not assigned
 278                                       Not assigned
 279                                       Not assigned
 280                                       Not assigned
 281                                       Not assigned
 282                                       Not assigned
 283                                       Not assigned
 284                           Kingsway Park South West
 285                                          Mimico NW
 286                                 The Queensway West
 287                              Royal York South West
 288                                     South of Bloor
 289                                       Not assigned

 [290 rows x 3 columns],
                                                   0                      1   \
 0                                                NaN  Canadian postal codes
 1  NL NS PE NB QC ON MB SK AB BC NU/NT YT A B C E...                     NL
 2                                                 NL                     NS
 3                                                  A                      B

     2    3    4    5    6    7    8    9  ...    21   22   23   24   25   26  \
 0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN ...   NaN  NaN  NaN  NaN  NaN  NaN
 1   NS   PE   NB   QC   ON   MB   SK   AB ...     L    M    N    P    R    S
 2   PE   NB   QC   ON   MB   SK   AB   BC ...   NaN  NaN  NaN  NaN  NaN  NaN
 3    C    E    G    H    J    K    L    M ...   NaN  NaN  NaN  NaN  NaN  NaN

     27   28   29   30
 0  NaN  NaN  NaN  NaN
 1    T    V    X    Y
 2  NaN  NaN  NaN  NaN
 3  NaN  NaN  NaN  NaN

 [4 rows x 31 columns],
    0   1   2   3   4   5   6   7   8   9      10  11   12   13   14   15   16  \
 0  NL  NS  PE  NB  QC  ON  MB  SK  AB  BC  NU/NT  YT  NaN  NaN  NaN  NaN  NaN
 1   A   B   C   E   G   H   J   K   L   M      N   P    R    S    T    V    X

     17
 0  NaN
 1    Y  ]

In [3]:
# use data from sectioned columns with "0" - included all three columns automatically
TNT = TNT_postals[0]
# label columns
TNT.columns = ['Postcode', 'Borough', 'Neighborhood']
# dropped the first row because it contained the column headers
TNT = TNT.iloc[1:]
TNT.head()

  Postcode           Borough      Neighborhood
1      M1A      Not assigned      Not assigned
2      M2A      Not assigned      Not assigned
3      M3A        North York         Parkwoods
4      M4A        North York  Victoria Village
5      M5A  Downtown Toronto      Harbourfront

In [4]:
# exclude all rows where Borough value was Not assigned
TNT = TNT[TNT.Borough != 'Not assigned']
# replace all Not assigned values in Neighborhood with the corresponding Borough value
TNT.Neighborhood.replace('Not assigned',TNT.Borough,inplace=True)
TNT.head(10)

   Postcode           Borough      Neighborhood
3       M3A        North York         Parkwoods
4       M4A        North York  Victoria Village
5       M5A  Downtown Toronto      Harbourfront
6       M5A  Downtown Toronto       Regent Park
7       M6A        North York  Lawrence Heights
8       M6A        North York    Lawrence Manor
9       M7A      Queen's Park      Queen's Park
11      M9A         Etobicoke  Islington Avenue
12      M1B       Scarborough             Rouge
13      M1B       Scarborough           Malvern

In [5]:
# grouped rows by common Postcode value, created lists in Neighborhood column
TNT = TNT.groupby(['Postcode','Borough'])['Neighborhood'].apply(', '.join).reset_index()
TNT.head(10)

  Postcode      Borough                                     Neighborhood
0      M1B  Scarborough                                   Rouge, Malvern
1      M1C  Scarborough           Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough                Guildwood, Morningside, West Hill
3      M1G  Scarborough                                           Woburn
4      M1H  Scarborough                                        Cedarbrae
5      M1J  Scarborough                              Scarborough Village
6      M1K  Scarborough      East Birchmount Park, Ionview, Kennedy Park
7      M1L  Scarborough                  Clairlea, Golden Mile, Oakridge
8      M1M  Scarborough  Cliffcrest, Cliffside, Scarborough Village West
9      M1N  Scarborough                      Birch Cliff, Cliffside West

In [6]:
# shape of 103 rows and 3 columns
TNT.shape

(103, 3)